:root {
    --cor-de-fondo: pink;
    --cor-de-fondo1: red;
    --cor-de-fondo2: rgb(0, 162, 232);
    --cor-de-fondo3: skyblue;
    --cor-de-fondo4: #353535;
    --cor-de-fondo5: #CE7D35;
    --cor-de-fondo6: #fff;
    --fonte: Brush Script MT;
    --tamano-2em: 2em;
}


/*header*/

header {
    width: 100%;
    background-color: var(--cor-de-fondo);
}


/*h1 do header*/

header h1 {
    margin: auto;
    top: 0px;
    text-align: center;
    font-size: 4em;
    font-family: var(--fonte);
}


/* clase navegador*/

.navegador {
    position: sticky;
    top: 0px;
    text-align: center;
    width: 100%;
    background: var(--cor-de-fondo1);
}


/*lista da clase navegador*/

.navegador ul {
    list-style: none;
}


/*clase secciones*/


/*elementos li*/

.secciones li {
    position: relative;
    display: inline-block;
}


/*links dentro de li*/

.secciones li a {
    display: block;
    padding: 15px 20px;
    color: var(--cor-de-fondo4);
    font-family: 'Open sans';
    text-decoration: none;
}


/*o pasar sobre os links dentro de li*/

.secciones li a:hover {
    color: var(--cor-de-fondo5);
}


/*clase submenu*/

.submenu {
    position: absolute;
    background-color: var(--cor-de-fondo1);
    visibility: hidden;
    padding-left: 0;
    padding-top: 1rem;
}


/*links dentro de li*/

.submenu li a {
    color: var(--cor-de-fondo6);
}


/*o pasar sobre os li que teñen submenu*/

.secciones li:hover .submenu {
    visibility: visible;
}


/*clase titulos*/

.titulos {
    text-align: center;
    font-family: var(--fonte);
    font-size: 3em;
}


/*clase seccion*/

.seccion {
    display: flex;
    flex-wrap: wrap;
}


/*lista da clase seccion*/

.seccion ul {
    flex: 1;
    list-style: none;
    padding: 0;
    text-align: center;
}


/*imaxes dentro de seccion*/

.seccion ul li img {
    width: 200px;
}


/*clase precio*/

.precio {
    font-size: var(--tamano-2em);
}


/*clase enviodevolucion*/

.enviodevolucion img {
    width: 100%;
}


/*clase spam*/

.spam p {
    display: inline;
    margin-right: 25px;
    font-size: 1.5em;
}


/*clase botonclase*/

.botonclase {
    background-color: var(--cor-de-fondo);
}


/*titulospequenos*/

.titulospequenos {
    text-align: center;
    font-family: var(--fonte);
    font-size: var(--tamano-2em);
}


/*clase asesoramiento*/

.asesoramiento {
    font-style: oblique;
    font-size: 1.2em;
}


/*footer*/

footer {
    background-color: var(--cor-de-fondo2);
}


/*clase footer*/

.footer {
    display: block;
}


@media (max-width:768px) {}

@media (min-width: 769px) {
    .footer {
        display: grid;
        grid-template-areas: "a b";
    }
}